#slider.carousel.slide{'data-ride': "carousel"}
  %ol.carousel-indicators
    %li.active{'data-target': "#slider", 'data-slide-to': "0"}
    %li{'data-target': "#slider", 'data-slide-to': "1"}
    %li{'data-target': "#slider", 'data-slide-to': "2"}
  .carousel-inner{role: "listbox"}
    - @latest_books.each do |latest_book|
      .item{class: "#{'active' if latest_book == @latest_books.first}"}
        .row
          .col-sm-5
            .general-img-wrap
              %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
          .col-sm-7
            .mb-60
              %h1= latest_book.title
              %p.lead= latest_book.description
              %p.lead.small= authors_list(latest_book)
              .general-align
                = link_to t('button.by_now'), order_items_path(book_id: latest_book.id, cart_id: @cart.id, quantity: 1), method: :post, class: 'btn btn-primary', remote: true
  %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
    %span.icon-prev{'aria-hidden': "true"}
    %span.sr-only= t('page.home.carusel.prev')
  %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
    %span.icon-next{'aria-hidden': "true"}
    %span.sr-only= t('page.home.carusel.next')