.hidden-xs.mb-res-50
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600= t('orders.number')
        %th
          %span.in-grey-600= t('orders.completed_at')
        %th
          %span.in-grey-600= t('orders.status')
        %th
          %span.in-grey-600= t('orders.total')
    %tbody
      - @orders.each do |order|
        %tr
          %td
            %span.general-order-number= order.number
          %td
            %span.in-grey-900.font-16.fw-300= order.created_at.strftime("%Y-%m-%d")
          %td
            %span.font-16.in-grey-900.fw-300= order_status(order.status)
          %td
            %strong.font-16= price_to_euro(order.total_price)