%ul.dropdown-menu
  %li
    = link_to "Newest first", catalog_path(filter: :newest)
  %li
    = link_to "Popular first", catalog_path(filter: :popular)
  %li
    = link_to "Price: Low to hight", catalog_path(filter: :low_to_high_price)
  %li
    = link_to "Price: Hight to low", catalog_path(filter: :hight_to_low_price)
  %li
    = link_to "Title: A-Z", catalog_path(filter: :title_a_z)
  %li
    = link_to "Title: Z-A", catalog_path(filter: :title_z_a)