%ul.dropdown-menu
  %li
    = link_to t('button.newest_first'), catalog_path(category: @category_id, filter: :newest)
  %li
    = link_to t('button.popular_first'), catalog_path(category: @category_id, filter: :popular)
  %li
    = link_to t('button.low_to_hight'), catalog_path(category: @category_id, filter: :low_to_high_price)
  %li
    = link_to t('button.hight_to_low'), catalog_path(category: @category_id, filter: :high_to_low_price)
  %li
    = link_to t('button.title_A-Z'), catalog_path(category: @category_id, filter: :title_a_z)
  %li
    = link_to t('button.title_Z-A'), catalog_path(category: @category_id, filter: :title_z_a)