%p.general-address
  = client_name(@current_order.shipping_address)
  = link_to 'edit', wizard_path(:address, edit: true), class: "general-edit"
  %br
  = @current_order.shipping_address.address
  %br
  = @current_order.shipping_address.city
  %br
  = @current_order.shipping_address.country
  %br
  = "Phone " + @current_order.shipping_address.phone