%p.general-address
  = client_name(order.shipping_address)
  - if order.in_progress?
    = link_to 'edit', wizard_path(:address, edit: true), class: "general-edit"
  %br
  = order.shipping_address.address
  %br
  = order.shipping_address.city
  %br
  = order.shipping_address.country
  %br
  = "Phone " + order.shipping_address.phone