%main.container
  = render 'checkouts/progress'
  = form_tag(wizard_path, method: :put) do
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    .row
      = render partial: "address_form", locals: { type: "BillingAddress", tag: "billing" }
      = render partial: "address_form", locals: { type: "ShippingAddress", tag: "shipping" }
    .general-text-align.mb-60
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        %tr
          %td
            %p.font-16 Item Total:
          %td
            %p.font-16 €117.69
        %tr
          %td
            %p.font-16 Order Total:
          %td
            %p.font-16 €117.69
    = submit_tag t('checkout.save_and_continue'), method: :put, class: "btn btn-default center-block mb-20"