%main.container.general-main-wrap
  = render 'checkouts/progress'
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle Shipping Address
      - if @current_order.shipping_address
        = render partial: 'shipping_address_info', locals: { order: @current_order }
      - else
        = render partial: 'billing_address_info', locals: { order: @current_order }
    .col-sm-3
      %h3.general-subtitle Billing Address
      = render partial: 'billing_address_info', locals: { order: @current_order }
    .col-sm-3
      %h3.general-subtitle Shipments
      %p.general-address
        = @current_order.delivery.name
        = link_to 'edit', wizard_path(:delivery, edit: true), class: "general-edit"
        %br
        = @current_order.delivery.duration
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        = secret_card_number(@current_order.credit_card.number)
        = link_to 'edit', wizard_path(:payment, edit: true), class: "general-edit"
        %br
        = @current_order.credit_card.expiration_date
  .visible-xs
    .general-cart-item.divider-lg
      - @current_order.order_items.each do |item|
        .general-img-wrap-table
          %img.cart-img-shadow{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
        = link_to book_path(item.book), class: 'text-as-link' do
          %p.title= item.book.title
        %P.in-grey-600.fw-300= truncate(item.book.description, length: 75)
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500= price_to_euro(item.book.price)
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span= item.quantity
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500= price_to_euro(item.total_price)
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        - @current_order.order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            %td
              = link_to book_path(item.book), class: 'text-as-link' do
                %p.title= item.book.title
              %p.in-grey-600.fw-300= truncate(item.book.description, length: 175)
            %td
              %span.font-16.in-gold-500= price_to_euro(item.book.price)
            %td
              %span.ml-30= item.quantity
            %td
              %span.font-16.in-gold-500= price_to_euro(item.total_price)
  = render 'order_summary'
  .text-center
    = link_to 'Place Order', wizard_path, method: :put, class: 'btn btn-default mb-20'